body{
    background: url(maxresdefault.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fire{
    width: 55px;
    height: 105px;
    background: url(fire.png);
    animation-name: fire;
    animation-duration: 1s;
    animation-timing-function: steps(3, start);
    animation-iteration-count: infinite;
}
@keyframes fire {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 190px 0px;
    }
}

.ice{
    width: 79px;
    height: 108px;
    background: url(Sprite.png);
    animation-name: wave;
    animation-duration: 1s;
    animation-timing-function: steps(4, end);
    animation-iteration-count: infinite;
}

@keyframes wave {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -398px 6px;
    }
}

.container2{
    width: 60px;
    height: 120px;
    animation-name: move;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 550px;
    bottom: 140px;
}
.container1{
    position: absolute;
    left: 500px;
    bottom: 100px;
}


@keyframes move {
    100%{
        transform: translateX(100px);
    }
}


.death{
    width: 123px;
    height: 125px;
    background: url(death.png);
    animation-name: death;
    animation-delay: 0.7s;
    animation-duration: 1.2s;
    animation-timing-function: steps(6, start);
    animation-iteration-count: infinite;
}

@keyframes death {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -1035px 0px;
    }
}

.container3{
    position: absolute;
    left: 700px;
    bottom: 100px;
}

.container4{
    position: absolute;
    left: 250px;
    bottom: 100px;
}
.container5{
    position: absolute;
    right: 250px;
    bottom: 100px;
}
.support{
    width: 89px;
    height: 180px;
    background: url(Support.png);
    animation-name: sup;
    animation-timing-function: steps(3);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes sup {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -570px 0px;
    }
}